@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 25px;
}

main {
  background-color: #f7f4f5;
  padding: 20px;
  display: table;
  margin: 0px auto;
  border-radius: 3px;
}

li{
  list-style-type: square;
}

code{
  color: #b20330;
}

.wrap-code{
  background-color: #e8e1e1;
  padding: 5px;
  border-radius: 5px;
  display: table;
  margin: 0px auto;
}

h1 {
  color: #6d1d3d;
  text-align: center;
}


a{
  color: #10a0a0;
}

